body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

 

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#displayDate {
  padding: 50px;
  color: red;
  font-size: 50px;
  font-weight: bold;
  font-style: oblique;
}

.description{
  white-space: pre-wrap;
}

table {
  background-color: whitesmoke;
}

.container, .form-control {
  font-weight: bolder;
  color: black;
}

footer {
  border: solid black;
  padding: 10px;
  text-align: center;
  color: blue;
}
